page-crear-cuenta {
    .fondo{
        background-image: url("../assets/imgs/fondo.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .redondo{
        border-radius: 15px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .interlinea{
        margin-top: 15px;
        text-align: center;
        margin-bottom: 15px;
    }
}

